
NEXT_PUBLIC_SERVER_URL =

DATABASE_URL=
DATABASE_URL_UNPOOLED=

AUTH_SECRET=

# stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_SECRET_KEY=

# google auth
SENDER_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=

# resend API for sending emails
NEXT_PUBLIC_RESEND_API_KEY=

_VERCEL_URL=

NEXT_PUBLIC_IDEOGRAM_API_KEY=


NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
NEXT_PUBLIC_CLOUDINARY_API_SECRET=

NEXT_PUBLIC_OPENAI_API_KEY=

NEXT_PUBLIC_DYNAMIC_MOCKUP_API_KEY=


NEXT_PUBLIC_WC_CONSUMER_KEY=
NEXT_PUBLIC_WC_CONSUMER_SECRET=

NEXT_PUBLIC_WORDPRESS_SITE_URL=

NEXT_PUBLIC_BACKEND_URL=
# NEXT_PUBLIC_BACKEND_URL="http://localhost:4000"
NEXT_PUBLIC_APP_URL=


NEXT_PUBLIC_WP_JWT_AUTH_SECRET_KEY=



NEXT_PUBLIC_KNOCK_SECRET_API_KEY=
NEXT_PUBLIC_KNOCK_PUBLIC_API_KEY=
NEXT_PUBLIC_KNOCK_FEED_CHANNEL_ID=
NEXT_PUBLIC_KNOCK_IAM_CHANNEL_ID=




#Blog
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON=


# visit https://giscus.app to get your Giscus ids
NEXT_PUBLIC_GISCUS_REPO=
NEXT_PUBLIC_GISCUS_REPOSITORY_ID=
NEXT_PUBLIC_GISCUS_CATEGORY=
NEXT_PUBLIC_GISCUS_CATEGORY_ID=
NEXT_PUBLIC_UTTERANCES_REPO=
NEXT_PUBLIC_DISQUS_SHORTNAME=

NEXT_UMAMI_ID=

MAILCHIMP_API_KEY=
MAILCHIMP_API_SERVER=
MAILCHIMP_AUDIENCE_ID=

BUTTONDOWN_API_KEY=

CONVERTKIT_API_KEY=
# curl https://api.convertkit.com/v3/forms?api_key=<your_public_api_key> to get your form ID
CONVERTKIT_FORM_ID=

KLAVIYO_API_KEY=
KLAVIYO_LIST_ID=

REVUE_API_KEY=

EMAILOCTOPUS_API_KEY=
EMAILOCTOPUS_LIST_ID=
